node_modules/
**/node_modules/
dist/
backend/.aws-sam/
apps/web/dist/
.env
env.json
backend/env.json

*.js
!jest.config.js

.DS_Store
*.log

samconfig.toml.bak
**/.aws-sam/
**/tsconfig.tsbuildinfo
.ec2/
apps/web/.env
